### 1. Write a python program to convert a string to lower case

In [29]:
a=input()
a.lower()

NIKHIL

'nikhil'

### 2.Write a python program to convert only odd indexed characters to lower case
+ Ex: PYTHON
+ Output: - PyThOn

In [9]:
a=input()
b=" "
for i in range(len(a)):
    if i%2==0:
        b=b+a[i].upper()
    else:
        b=b+a[i].lower()
b

NIKHIL

' NiKhIl'

### 3.Write a python program to convert only even indexed characters to lower case
+ Ex: PYTHON
+ Output: - pYtHoN

In [10]:
a=input()
b=" "
for i in range(len(a)):
    if i%2==1:
        b=b+a[i].upper()
    else:
        b=b+a[i].lower()
b

NIKHIL

' nIkHiL'

### 4. Write a python program to convert only odd indexed characters to upper case
+ Ex: python
+ Output: pYtHoN

In [12]:
a=input()
b=" "
for i in range(len(a)):
    if i%2==1:
        b=b+a[i].upper()
    else:
        b=b+a[i].lower()
b

nikhil

' nIkHiL'

### 5. Write a python program to convert only even indexed characters to upper case
+ Ex: python
+ Output: - PyThOn

In [14]:
a=input()
b=" "
for i in range(len(a)):
    if i%2==0:
        b=b+a[i].upper()
    else:
        b=b+a[i].lower()
b

python

' PyThOn'

### 6. Write a python program where you have different variable which contains your 
+ name, gender, age, phone number, father’s name and mother’s name.
+ And by using this variable create a variable named bio-data where you will use all
 this variable
+ Ex: print(bio-data)
 Output:- My name is …., My age is ….,My phone-no is ….,my father’s name is …,and 
 my mother’s name is…

In [18]:
name=input()
age=int(input())
phn_no=int(input())
father_name=input()
mother_name=input()
print("my name is ",name, "my age is ",age,"my phn number is ",phn_no,"my father name is ",father_name,"and my mother name is ",mother_name)

rog
2
12345
ram
sita
my name is  rog my age is  2 my phn number is  12345 my father name is  ram and my mother name is  sita

#### 7. Write a python program to count how many times “@” occurred
Ex: S@ndhy@
Output: 2

In [20]:
a=input()
a.count('@')

s@ndhy@

2

### 8. Write a python program to get only names from the string
+ Ex: “name1.@gmail.com, name2.@gmail.com, name3.@gmail.com”
+ Output-name1, name2, name3

In [24]:
s="name1.@gmail.com, name2.@gmail.com, name3.@gmail.com"
a=s.split(".@gmail.com")
b=" ".join(a)
b

'name1 , name2 , name3 '

### 9. Write a program to remove vowels from the entire alphabets
+ Ex: “abcdefghijklmnopqrstuvwxyz”
+ Output: “bcdfghjklmnpqrstvwxyz”

In [26]:
a="abcdefghijklmnopqrstuvwxyz"
b=['a','e','i','o','u']
c=""
for i in a:
    if i not in b:
        c=c+i
c

'bcdfghjklmnpqrstvwxyz'

### 10. Find all occurrences of a substring in a given string by ignoring the case
+ Ex: str1 = "Welcome to Innomatics. innomatics awesome, isn't it?"
+ Output: The innomatics count is:2

In [28]:
str1 = "Welcome to Innomatics. innomatics awesome, isn't it?"
a=str1.lower()
b=a.count("innomatics")
print("the innomatics count is:",b)

the innomatics count is: 2